h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
h3 {
  color: purple;
  text-align: center;
}
body{
  background-color: skyblue;
}
.jump p {
  background-color: limegreen;
}
