h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
h3 {
  color: purple;
  text-align: center;
}
body{
  background-color: chocolate;
}
.jump p {
  background-color: limegreen;
}
.jump {
  color: gold;
}
.column {
  float: left;
  width: 300px;
  border: 2px solid pink;
  margin: 10 px;
  padding: 40px;
}
.sasa {
  font-style: italic;
  color: red;
}
img {
  float: right;
}
.drive {
  border: 2px solid grey;
  margin-right: 10px;
  float: right;
}
@media screen and (max-width: 600px) {
    body {
        background-color: black;
        color: white;
    }
